.container-project-arrow{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    
}

.animated-left{
    border: none;
    background-image: url(../../assets/img/arrowleft.svg);
    background-color:transparent;
    background-repeat: no-repeat;
    width: 50px;
    height: 55px;
}
.animated-left:active{
    transform: scale(0.9);
}
.animated-right{
    border: none;
    background-image: url(../../assets/img/arrowright.svg);
    background-color:transparent;
    background-repeat: no-repeat;
    width: 50px;
    height: 55px;
}
.animated-right:active{
    transform: scale(0.9);
}