.banner-box{
  box-sizing: border-box;
  background-color: #3A4042;
  width: 627px;
  height: 184px;
  text-align: center;
  border: 1px solid #000;
  
}

.banner-box:hover{
  transform: scale(1.1);
  background-color: #3A4042;
  width: 627px;
  height: 184px;
  box-shadow: 8px 8px 10px var(--amarelo);
  text-align: center;
  border: 1px solid var(--preto);
}