.banner{
  display: flex;
  background-image: url(../../assets/img/separator\ 2.svg);
  background-repeat: no-repeat;
  background-size: 2000px;
  height: 1000px;
  border-bottom: 10px solid #000;
  align-items: center;
  padding-left: 40px;
}
.banner .buttonBox{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}

