.box{
  background-color: #3A4042;
  width: 627px;
  height: 184px;
  box-shadow: 10px 10px 0 #000;
  text-align: center;
  border: 1px solid #000;
}

.box:hover{
  transform: scale(1.1);
  background-color: #3A4042;
  width: 627px;
  height: 184px;
  box-shadow: 10px 10px 10px #000;
  text-align: center;
  border: 1px solid #fff;
}