.footer{
  display: block;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #000000;
}
#footerTitle{
  display: flex;
  font-size: 10px;
  justify-content: center;
  padding: 0;
  line-height: 60px;
}
.footerContainer{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.footerimg{
  width: 40px;
  justify-content: center;
  text-align: center;
}
.footerimg:hover{
  transform: scale(1.1);
}
