.habilityComponent{
  display: inline-block;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: 30%;
  width: 430px;
  height: 90px;
  text-align: center;
}
.containerHTML{
  
  margin-top: 100px;
  margin-right: 260%;
}

.html{
  position: absolute;
  margin-left: 5%;
  margin-bottom: 100px;
  font-family: 'Press Start 2P';
  color: #FFF;
  font-size: 25px;
}
.html:hover{
  position: absolute;
  margin-left: 5%;
  margin-bottom: 100px;
  font-family: 'Press Start 2P';
  color: #FFC857;
  font-size: 25px;
  transform: scale(1.1);
}

.skillBar{
  position: absolute;
  margin-left: 5%;
  margin-top: 2%;
  width: 205px;
  height: 20px;
  background-color: #FFF;
  border: 2px solid #000;
}
.bar{
  margin-right: 100px;
  height: 100%;
}

.skillBar::before{
  content: '20%';
  position: absolute;
  font-family: 'Press Start 2p';
  font-size: 10px;
  align-items: center;
  color: rgb(54, 53, 53);
  padding-left: 50%;
  padding-top: 5px;
  visibility: hidden;
}
.skillBar::before{
  content: '20%';
  position: absolute;
  font-family: 'Press Start 2p';
  font-size: 10px;
  align-items: center;
  color: #363535;
  padding-left: 50%;
  padding-top: 5px;
  visibility: hidden;
}
  
  .skillBar:hover:before{
    content: '50%';
    position: absolute;
    font-family: 'Press Start 2p';
    font-size: 10px;
    align-items: center;
    color: #000;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 5px;
    visibility: visible;    
  }

  #CSS:hover:before{
    content: '20%';
    position: absolute;
    font-family: 'Press Start 2p';
    font-size: 10px;
    align-items: center;
    color: #000;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 5px;
    visibility: visible;    
  }

  #JS:hover:before{
    content: '10%';
    position: absolute;
    font-family: 'Press Start 2p';
    font-size: 10px;
    align-items: center;
    color: #000;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 5px;
    visibility: visible;    
  }

  #React:hover:before{
    content: '0%';
    position: absolute;
    font-family: 'Press Start 2p';
    font-size: 10px;
    align-items: center;
    color: #000;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 5px;
    visibility: visible;    
  }