.icon-close{
    font-family: 'Press Start 2P', monospace;
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    right: 30px;
    color: var(--roxo);

    transition: transform 100ms linear;
}

.icon-close:hover{
    transform: scale(1.1);
}