.main-banner{
  display: flex;
  background-image: url(../../assets/img/background2.png);
  background-repeat: no-repeat;
  background-size:cover;
  height: 600px;
  border-bottom: 10px solid #000;
  align-items: center;
  padding-left: 40px;
}
.main-banner .buttonBox{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}

