.main-carousel{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.main-carousel::after{
    content: '';
    position: absolute;
    left: 50px;
    top: 28px;
    display: block;
    height: 6px;
    width: calc(100% - 100px);
    background-color: var(--preto);
}

.main-carousel::before{
    content: '';
    position: absolute;
    left: 0;
    top: 29.4px;
    display: block;
    border-top: 4.8px dashed var(--preto);
    width: 100%;   
}

.main-carousel .button-arrow{
    position: absolute;
    bottom: 50px;
     
}

.main-carousel .button-arrow.-left{
    left: 15px;
}

.main-carousel .button-arrow.-right{
    right: 15px;
}

.main-carousel .items{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements{
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: transform 100ms ease-in-out;
}