
.navItens{
  text-decoration: none;
  font-family: 'fira Code';
  align-items: center;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  padding-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.navItens::before{
  display: inline-flex;
  content: '';
  background-color: #7C5E99;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.navItens:hover{
  text-decoration: none;
  font-family: 'fira Code';
  align-items: center;
  font-size: 20px;
  color: #fff;
  text-shadow: 3px 3px 3px #000;
  font-weight: 500;
  padding-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}