.node-card{
display: inline-flex;
flex-direction: column;
align-items: center;
}

.node-card::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 30px;
    border-top: 3.5px dashed var(--preto);
    transform: rotate(90deg) translateX(148%);
    bottom: 140px;
}

.node-card .title{
    font-family: 'Press Start 2p', monospace;
    font-size: 25px;
    font-weight: 400;
    color: var(--branco);
    margin-bottom: 20px;
}

.node-card .logo{
    display: flex;
    align-items: center;
    height: 140px;
    border: 3px solid var(--preto);    
}

.date-carousel:hover{
color: var(--amarelo);
}