.progress-bar{
  
  box-sizing: border-box;
  background-color: var(--branco);
  border: 5px solid var(--preto);
  height: 40px;
}
.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar{
  background-color: var(--roxo);
}

.title{
  padding-bottom: 10px;
}