.contato{
  display: block;
  justify-content: center;
  width: 100%;
  height: 794px;
}

#titleContato{
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2p', monospace;
  text-shadow: 4px 4px 0 #000;
  font-size: clamp(1.5rem, 2.5vw, 2.8rem);
  color: #fff;
  padding: 29px;
}
#titleContato:hover{
  font-size: 30px;
  font-family: 'Press Start 2p', monospace;
  text-shadow: 4px 4px 0 #000;
  color: #FFC857;
  padding: 29px;
}

.FORMcontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.buttonContato{  
  width: 50%;
  margin-top: 40px;
  height: 60px;
  background-color: #7C5E99;
  font-family: 'Fira Code',monospace;
  color: var(--branco);
  border: 5px solid #000;
  
}
.buttonContato:hover{
  font-size: 25px;
  color: var(--amarelo);
  border: 5px solid #FFF;
}