
.Skills{
  background-color: #828282;
  width: 100%;
  border-bottom: 10px solid var(--roxo);
}

.SkillsTitle{
  display: block;
  text-align: center;
  font-size: clamp(1.5rem, 2.5vw, 2.8rem);
  font-family: 'Press Start 2p', monospace;
  text-shadow: 4px 4px 0 #000;
  color: #fff;
  padding: 29px;
}

.SkillsTitle:hover{
  font-family: 'Press Start 2p', monospace;
  text-shadow: 4px 4px 0 #000;
  color: #FFC857;
  padding: 29px;
}
.skill-tec{
  display: flex;
  align-items: center;
  font-size: clamp(0.7rem, 2.5vw, 1.8rem);
  font-family: 'Press Start 2p', monospace;
  color: #fff;
  padding: 29px;
}
.skill-tec:hover{
  font-size: clamp(1.7rem, 2.5vw, 1.8rem);
  font-family: 'Press Start 2p', monospace;
  color: #FFC857;
  padding: 29px;
}
.skill-tec .icon{
  margin-right: 25px;
}
.skill-tec .right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 600px){
  h3.title#HTML:hover::after{
    content: '80%';
    margin-top: 10px;
    display: block;
    align-items: center;
  }
  h3.title#nodeJS:hover::after{
    content: '0%';
    margin-top: 10px;
    display: block;
    align-items: center;
  }
  h3.title#CSS:hover::after{
    content: '50%';
    margin-top: 10px;
    display: block;
    align-items: center;
  }
  h3.title#restAPI:hover::after{
    content: '0%';
    margin-top: 10px;
    display: block;
    align-items: center;
  }
  h3.title#JS:hover::after{
    content: '10%';
    margin-top: 10px;
    display: block;
    align-items: center;
  }
  h3.title#react:hover::after{
    content: '0%';
    margin-top: 10px;
    display: block;
    align-items: center;
  }
  h3.title#UX:hover::after{
    content: '0%';
    margin-top: 10px;
    display: block;
    align-items: center;
  }
  h3.title#TDD:hover::after{
    content: '0%';
    margin-top: 10px;
    display: block;
    align-items: center;
  }
  .Skills{
  height: 1400px;
  }
  .skill-tec{
    display: flex;
    margin-left: 30%;
    
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .skill-tec:hover{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 10px;
  }
}