.nameSubtitle{
  font-size: clamp(0.5rem, 2.5vw, 2.8rem);
  font-family: 'Press Start 2p', monospace;
  text-shadow: 4px 4px 0 #000;
  color: #fff;
  padding: 29px;
}
.nameSubtitle:hover{
  font-size: clamp(0.5rem, 2.5vw, 2.8rem);
  font-family: 'Press Start 2p', monospace;
  text-shadow: 4px 4px 0 #000;
  color: #FFC857;
  padding: 29px;
}