.nameSubtitle{
  font-size: 30px;
  font-family: 'Press Start 2p', monospace;
  text-shadow: 4px 4px 0 #000;
  color: #fff;
  padding: 29px;
}
.nameSubtitle:hover{
  font-size: 30px;
  font-family: 'Press Start 2p', monospace;
  text-shadow: 4px 4px 0 #000;
  color: #FFC857;
  padding: 29px;
}